@import url(https://fonts.googleapis.com/css?family=La+Belle+Aurore);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";

@function linePadding($number) {
  @return ($number*36px);
}

body{
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer{
    width: 100%;
    text-align: left;
    padding: 12px;
    background: #e1e1e1;
    color: #555;
    font-family: 'Roboto Slab', serif;

    .left{
        float: left;
    }
    .right{
        float: right;
    }
}
header{
    border-bottom: 1px solid #d1d1d1;
}
footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d1d1d1;

    a{
        font-size: 18px;
        line-height: 12px;
        padding: 0 6px;
    }
}

.hikoo{
    font-family: 'La Belle Aurore', cursive;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    color: #666;
    width: 800px;
    padding-top: 1px; // TODO this fixes a 1px jump on transition, why?

    p{
        display: block;
        line-height: 1.5em;

        &.line1{ padding-left: linePadding(0); }
        &.line2{ padding-left: linePadding(1); }
        &.line3{ padding-left: linePadding(2); }

        &.date-line{
            text-align: right;
            font-size: 40%;

            a{
                opacity: 0.4;

                &:hover{
                    opacity: 1.0;
                }
            }
        }
    }
}


.zen-enter {
    opacity: 0.01;
}

.zen-enter.zen-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.zen-leave {
    opacity: 1;
}

.zen-leave.zen-leave-active {
    opacity: 0.01;
    transition: opacity .1s ease-in;
}
